@import '../../../styles/mixins.scss';


.banner {
    display: none;
    width: 50%;
    height: 100%;
    font-family: $font-secondary;
    text-align: center;

    @include xl {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .animeyabu {
            font-size: 80px !important;
        }
    }

    .image_container {
        padding-top: 63px;
        position: relative;
        width: 100%;
        height: 50vh;

        .ellipse {
            position: absolute;
            width: 80%;
            height: 80%;
            left: 50%;
            transform: translateX(-50%);
            padding-right: 1;
        }

        .boy {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: 10;
        }
    }

    .animeyabu {
        font-weight: $bolder;
        letter-spacing: 0.065em;
        font-size: 36px;

        .yabu {
            color: $primary
        }
    }

    .content {
        font-size: 18px;

        .content_bold {
            font-weight: $bold;
        }
    }
}