@import '../../../styles/mixins.scss';


.input {
    width: 100%;

    .input_label {
        display: block;
        text-align: start;
        font-family: $font-primary
    }

    .input_box {
        @include standard-border;
        background: rgba(255, 255, 255, 0.47);
        display: flex;
        justify-content: space-between;
        &[data-has-error=true]{
            border-color: $error
        };
        
        svg {
            margin-block: auto;
            margin-right: 20px;
            fill: $grey-light;
            cursor: pointer;
        }

        input {
            padding: 20px;

            font-family: $font-input;
            width: 100%;
            border: none;
            background: transparent;
            font-size: 16px;

            &:focus-visible {
                outline: none;
            }


        }

    }

    .error {
        font-family: $font-primary;
        color: $error;
        text-align: end;
    }
}