@import './variables.scss';


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button {
    border: none;
    color: $dark;
    border-radius: $border-radius;
    background: $light;
    height: 60px;
    transition: 0.4s ease;

    &:hover {
        filter: drop-shadow(0px 2px 10px $primary);
        transition: 0.2s ease;
    }
}

@mixin standard-border {
    border-radius: $border-radius;
    border: $border-width solid white
}

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}