$primary: #CA38ED;
$light: #E487FB;
$dark: #3E1149;
$grey-dark: #574E5A;
$grey-light: #BCB1BF;

$link: $light;

$border-radius: 10px;
$border-width: 3px;

$font-primary: 'Poppins';
$font-secondary: 'Roboto';
$font-input: 'Archivo';

$bold: 700;
$bolder: 900;

$small-screen-gradient: linear-gradient(180deg, #CA38ED -30.11%, #000000 100%);

$screen-sm-min: 576px;

$screen-md-min: 768px;

$screen-lg-min: 1024px;

$screen-xl-min: 1366px;